<p-card header="Title" class="astro"><p>This is some card content</p>
  <p>

  <p-listbox class="astro" [options]="options" optionLabel="name" [filter]="true" filterPlaceHolder="Search for stuff">
  </p-listbox>
<p></p>
    <p-overlayPanel #op styleClass="astro">
      <ng-template pTemplate="content">
        <h4>Content!</h4>
        Waka waka waka
      </ng-template>
    </p-overlayPanel>
  <p-dialog header="Header" [(visible)]="dialogVisible" class="astro xxl">
    <ng-template pTemplate="header">
      Header Content
    </ng-template>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <ng-template pTemplate="footer">
        <p-button label="Do Thing" icon="pi pi-check" ></p-button>
    </ng-template>
  </p-dialog>
    <p-button tooltipStyleClass="astro" label="Button" icon="pi pi-check" (click)="dialogVisible = !dialogVisible" pTooltip="I'm a tooltip"></p-button>

</p-card>
