// astro dark theme
:root {
  // -- Colors --
  // Background Colors
  --color-background-base-default: #101923;
  --color-background-base-header: #172635;
  --color-background-base-hover: #142435;
  --color-background-base-selected: #1c3f5e;
  --color-background-surface-default: #1b2d3e;
  --color-background-surface-header: #172635;
  --color-background-surface-hover: #1c3851;
  --color-background-surface-selected: #1c3f5e;
  --color-background-interactive-default: #4dacff;
  --color-background-interactive-hover: #92cbff;
  --color-background-interactive-muted: #2b659b;
  // Text Colors
  --color-text-primary: #ffffff;
  --color-text-secondary: #d4d8dd;
  --color-text-placeholder: #a4abb6;
  --color-text-inverse: #080c11;
  --color-text-interactive-default: #4dacff;
  --color-text-interactive-hover: #92cbff;
  --color-text-white: #ffffff;
  --color-text-black: #000000;
  --color-text-error: #ff3838;
  // Border Colors
  --color-border-interactive-default: #4dacff;
  --color-border-interactive-hover: #92cbff;
  --color-border-interactive-muted: #2b659b;
  --color-border-error: #ff3838;
  --color-border-focus-default: #da9ce7;
  --color-border-default: #51555b;
  // Status Colors
  --color-status-critical: #ff3838;
  --color-status-serious: #ffb302;
  --color-status-caution: #fce83a;
  --color-status-normal: #56f000;
  --color-status-standby: #2dccff;
  --color-status-off: #a4abb6;
  // Classification Colors
  --color-classification-topsecretsci: #fce83a;
  --color-classification-topsecret: #ff8c00;
  --color-classification-secret: #c8102e;
  --color-classification-confidential: #0033a0;
  --color-classification-cui: #502b85;
  --color-classification-unclassified: #007a33;
  // Data Visualization Colors
  --color-data-visualization-1: #00c7cb;
  --color-data-visualization-2: #938bdb;
  --color-data-visualization-3: #4dacff;
  --color-data-visualization-4: #70dde0;
  --color-data-visualization-5: #c9c5ed;
  --color-data-visualization-6: #92cbff;
  --color-data-visualization-7: #a1e9eb;
  --color-data-visualization-8: #b7dcff;

  // -- Default sizing and widths --
  --border-width-xs: 1px;
  --radius-base: 3px;

  // Default shadows
  --shadow-default: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);

  // -- Components --
  // Button
  --button-border-width: var(--border-width-xs);
  --button-color-background-borderless: #ffffff00;
  --button-color-background-primary-default: var(--color-background-interactive-default);
  --button-color-background-primary-hover: var(--color-background-interactive-hover);
  --button-color-background-secondary: #ffffff00;
  --button-color-border-borderless: var(--button-color-background-borderless);
  --button-color-border-primary-default: var(--button-color-background-primary-default);
  --button-color-border-primary-hover: var(--button-color-background-primary-hover);
  --button-color-border-secondary-default: var(--color-border-interactive-default);
  --button-color-border-secondary-hover: var(--color-border-interactive-hover);
  --button-color-text-borderless-default: var(--color-text-interactive-default);
  --button-color-text-borderless-hover: var(--color-text-interactive-hover);
  --button-color-text-primary: var(--color-text-inverse);
  --button-color-text-secondary-default: var(--color-text-interactive-default);
  --button-color-text-secondary-hover: var(--color-text-interactive-hover);
  --button-icon-color-fill-borderless-default: var(--button-color-text-borderless-default);
  --button-icon-color-fill-borderless-hover: var(--button-color-text-borderless-hover);
  --button-icon-color-fill-primary: var(--button-color-text-primary);
  --button-icon-color-fill-secondary-default: var(--button-color-border-secondary-default);
  --button-icon-color-fill-secondary-hover: var(--button-icon-color-fill-secondary-hover);
  --button-radius: var(--radius-base);

  // Input
  --input-border-width: var(--border-width-xs);
  --input-color-background-default: var(--color-background-base-default);
  --input-color-border-default: var(--color-border-interactive-muted);
  --input-color-border-hover: var(--color-border-interactive-hover);
  --input-color-border-invalid: var(--color-border-error);
  --input-color-text-default: var(--color-text-primary);
  --input-color-text-placeholder: var(--color-text-placeholder);
  --input-icon-color-fill-default: var(--color-background-interactive-default);
  --input-radius: var(--radius-base);

  // Tooltip
  --tooltip-color-background: #3c3e42;
  --tooltip-color-text: var(--color-text-white);
  --tooltip-radius: 1px;

  // Notification Banner
  --notification-banner-color-border-inner-caution: var(--color-status-caution);
  --notification-banner-color-border-inner-critical: var(--color-status-critical);
  --notification-banner-color-border-inner-default: var(--color-border-interactive-default);
  --notification-banner-color-border-inner-normal: var(--color-status-normal);
  --notification-banner-color-border-inner-off: var(--color-status-off);
  --notification-banner-color-border-inner-serious: var(--color-status-serious);
  --notification-banner-color-border-inner-standby: var(--color-status-standby);
  --notification-banner-color-border-outer-caution: var(--color-status-caution);
  --notification-banner-color-border-outer-critical: var(--color-status-critical);
  --notification-banner-color-border-outer-default: var(--color-border-interactive-default);
  --notification-banner-color-border-outer-normal: var(--color-status-normal);
  --notification-banner-color-border-outer-off: var(--color-status-off);
  --notification-banner-color-border-outer-serious: var(--color-status-serious);
  --notification-banner-color-border-outer-standby: var(--color-status-standby);
  --notification-banner-radius-inner: 2px;
  --notification-banner-radius-outer: var(--radius-base);

  // Table
  --table-header-color-background: var(--color-background-surface-header);
  --table-header-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
  --table-row-color-background-default: var(--color-background-surface-default);
  --table-row-color-background-selected: var(--color-background-surface-selected);
  --table-row-color-background-hover: var(--color-background-surface-hover);
  --table-row-color-text: var(--color-text-primary);
  --table-row-color-border: var(--color-background-base-default);
  --table-row-border-width: var(--border-width-xs);
}

.astro {
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
}

/************************************
PRIMENG Form Components
************************************/
// InputText
.astro .p-inputtext {
  background-color: var(--input-color-background-default);
  border: var(--input-border-width) solid var(--input-color-border-default);
  color: var(--input-color-text-default);
  border-radius: var(--input-radius);

}

.astro .p-inputtext:enabled:hover {
  border: var(--input-border-width) solid var(--input-color-border-hover);
}

.astro .p-inputtext:enabled:focus {
  border: var(--input-border-width) solid var(--input-color-border-hover);
  box-shadow: 0 0 0 0;
}

.astro .p-inputtext:enabled::placeholder {
  color: var(--input-color-text-placeholder);
}

.astro .p-inputtext.invalid {
  border: var(--input-border-width) solid var(--input-color-border-invalid);
}

.astro .p-input-icon-left > .p-icon-wrapper.p-icon, .p-input-icon-left > i:first-of-type {
  color: var(--input-icon-color-fill-default);
}

// Listbox
.astro .p-listbox {
  background: var(--color-background-surface-default);
  border: var(--input-border-width) solid var(--input-color-border-default);
  border-radius: var(--input-radius);
}

.astro .p-listbox .p-listbox-header {
  background: var(--color-background-surface-default);
  border: 0;
}
.astro .p-listbox .p-listbox-header .p-listbox-filter-icon {
  color: var(--input-icon-color-fill-default);
}

.astro .p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled) {
  color: var(--input-color-text-default);
}

.astro .p-listbox .p-listbox-list .p-listbox-item.p-highlight {
  background-color: var(--color-background-surface-selected);
  color: var(--color-text-primary);
  border: var(--input-border-width) solid var(--color-border-interactive-default);
  box-shadow: 0 0 0 0;
}

.astro .p-listbox:not(.p-disabled) .p-listbox-item:not(.p-highlight):not(.p-disabled):hover {
  background: var(--color-background-surface-hover);
}

/************************************
PRIMENG Button Components
************************************/
// Button (primary)
.astro .p-button {
  background: var(--button-color-background-primary-default);
  border: var(--button-border-width) solid var(--button-color-border-primary-default);
  border-radius: var(--button-radius);
  color: var(--button-color-text-primary);
}

.astro .p-button .pi, .fa {
  color: var(--button-icon-color-fill-primary);
}

.astro .p-button:hover {
  background: var(--button-color-background-primary-hover);
  border: var(--button-border-width) solid var(--button-color-border-primary-hover);
  border-radius: var(--button-radius);
  color: var(--button-color-text-primary);
}

.astro .p-button:focus {
  box-shadow: 0 0 0 0;
}

.astro .p-button .p-button-label {
  font-weight: normal;
}

.astro .p-button .p-button-label:hover {
  font-weight: normal;
}

// Button (secondary)
.astro .p-button-secondary .p-button {
  background: var(--button-color-background-secondary);
  border: var(--button-border-width) solid var(--button-color-border-secondary-default);
  border-radius: var(--button-radius);
  color: var(--button-color-text-secondary-default);
}

.astro .p-button-secondary .p-button  .pi, .fa {
  color: var(--button-icon-color-fill-secondary-default);
}

.astro .p-button-secondary .p-button  .pi, .fa :hover {
  color: var(--button-icon-color-fill-secondary-hover);
}

.astro .p-button-secondary .p-button:hover {
  background: var(--button-color-background-secondary);
  border: var(--button-border-width) solid var(--button-color-border-secondary-hover);
  border-radius: var(--button-radius);
  color: var(--button-color-text-secondary-hover);
}

.astro .p-button-secondary .p-button:focus {
  box-shadow: 0 0 0 0;
}

.astro .p-button-secondary .p-button .p-button-label {
  font-weight: normal;
}

.astro .p-button-secondary .p-button .p-button-label:hover {
  font-weight: normal;
}


/************************************
PRIMENG Panel Components
************************************/
// Card
.astro .p-card {
  background-color: var(--color-background-surface-default);
  color: var(--color-text-primary);
  border-color: var(--color-border-default);
}

/************************************
PRIMENG Overlay Components
************************************/
// Dialog
.astro .sm .p-dialog {
  width: 300px;
}
.astro .md .p-dialog {
  width: 500px;
}
.astro .lg .p-dialog {
  width: 700px;
}
.astro .xl .p-dialog {
  width: 900px;
}
.astro .xxl .p-dialog {
  width: 1100px;
}
.astro .p-dialog {
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-default);
}
.astro .p-dialog .p-dialog-header {
  background: var(--color-background-surface-header);
  color: var(--color-text-primary);
  border-top-right-radius: var(--radius-base);
  border-top-left-radius: var(--radius-base);
}

.astro .p-dialog .p-dialog-header .p-dialog-header-icon:enabled {
  color: var(--color-text-secondary);
}

.astro .p-dialog .p-dialog-header .p-dialog-header-icon:enabled:hover {
  background: transparent;
}

.astro .p-dialog .p-dialog-content {
  background: var(--color-background-surface-default);
  color: var(--color-text-primary);
}
.astro .p-dialog .p-dialog-footer {
  background: var(--color-background-surface-default);
  color: var(--color-text-primary);
  border-bottom-right-radius: var(--radius-base);
  border-bottom-left-radius: var(--radius-base);
}

// OverlayPanel
.astro.p-overlaypanel {
  &:before {
    content: none;
  }

  &:after {
    content: none;
  }

  margin-top: 1px;
  background-color: var(--color-background-base-default);
  color: var(--color-text-primary);
  border: var(--border-width-xs) solid var(--color-border-default);
  border-radius: var(--radius-base);
  box-shadow: var(--shadow-default);
}

.astro .p-overlaypanel-content {
  padding: 10px;
}

// Tooltip
.astro.p-tooltip {
  background: transparent;
}
.astro.p-tooltip .p-tooltip-text {
  background: var(--tooltip-color-background);
  color: var(--tooltip-color-text);
  border-radius: 0;
  padding: 5px;
  font-size: 0.9em;
}

// Messages
.astro .p-message {
  background: var(--color-background-base-default);
  border: 2px solid;
  border-left: 10px solid;
  border-radius: var(--notification-banner-radius-outer);
  border-color: var(--notification-banner-color-border-outer-default);
  color: var(--color-text-primary);
}

.astro .p-message .p-message-icon {
  color: var(--color-text-primary);
}

.astro .p-message .p-message-close {
  color: var(--button-color-background-primary-default);
}

.astro .p-message .p-message-close:hover {
  color: var(--button-color-background-primary-hover);
  background: transparent;
}

.astro .p-message.p-message-success {
  border-color: var(--notification-banner-color-border-outer-normal);
}

.astro .p-message.p-message-warn {
  border-color: var(--notification-banner-color-border-outer-serious);
}

.astro .p-message.p-message-error {
  border-color: var(--notification-banner-color-border-outer-critical);
}

// Toast
.astro .p-toast .p-toast-message {
  color: var(--color-text-primary);
  background-color: var(--color-background-base-default);
  border-radius: var(--notification-banner-radius-outer);
  border: var(--border-width-xs) solid var(--notification-banner-color-border-outer-default);
  border-left: 5px solid var(--notification-banner-color-border-outer-default);
}

.astro .p-toast .p-toast-message.p-toast-message-info .p-toast-message-icon {
  color: var(--color-text-primary);
}

.astro .p-toast .p-toast-message .p-toast-icon-close {
  color: var(--button-color-background-primary-default);
}

.astro .p-toast .p-toast-message .p-toast-icon-close:hover {
  color: var(--button-color-background-primary-hover);
  background: transparent;
}

.astro .p-toast .p-toast-message.p-toast-message-success, {
  border-color: var(--notification-banner-color-border-outer-normal);
}

.astro .p-toast .p-toast-message.p-toast-message-success .p-toast-message-icon {
   color: var(--notification-banner-color-border-outer-normal);
}

.astro .p-toast .p-toast-message.p-toast-message-warn, {
  border-color: var(--notification-banner-color-border-outer-serious);
}

.astro .p-toast .p-toast-message.p-toast-message-warn .p-toast-message-icon {
   color: var(--notification-banner-color-border-outer-serious);
}

.astro .p-toast .p-toast-message.p-toast-message-error, {
  border-color: var(--notification-banner-color-border-outer-critical);
}

.astro .p-toast .p-toast-message.p-toast-message-error .p-toast-message-error {
   color: var(--notification-banner-color-border-outer-critical);
}

// Tabview
.astro .p-tabview {
  border: var(--border-width-xs) solid var(--color-border-default);
}
.astro .p-tabview .p-tabview-panels {
  background: var(--color-background-surface-default);
  color: var(--color-text-primary);
}

.astro .p-tabview .p-tabview-nav {
  background: var(--color-background-surface-header);
  border: unset;
}

.astro .p-tabview .p-tabview-nav .p-tabview-nav-link {
  color: var(--color-text-interactive-default);
  background: transparent;
  border: 0;
}
.astro .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
  box-shadow: unset;
}

.astro .p-tabview .p-tabview-nav li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link:hover {
  color: var(--color-text-interactive-hover);
  background: transparent;
}

.astro .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
  background: transparent;
  border-bottom: 5px solid var(--color-border-interactive-default);
  color: var(--color-text-primary);
}

// Table
.astro .p-datatable .p-datatable-thead > tr > th {
  background: var(--table-header-color-background);
  color: var(--table-row-color-text);
  border-bottom: var(--table-row-border-width) solid var(--color-border-default);
}

.astro .p-datatable .p-datatable-tbody > tr {
  background: var(--table-row-color-background-default);
  color: var(--table-row-color-text);
}

.astro .p-datatable .p-datatable-tbody > tr:hover {
  background: var(--table-row-color-background-hover);
  color: var(--table-row-color-text);
}

.astro .p-datatable .p-datatable-tbody > tr > td {
  border-bottom: var(--table-row-border-width) solid var(--table-row-color-border);
}

.astro .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
  background: var(--table-row-color-background-hover);
  color: var(--table-row-color-text);
}

.astro .p-datatable .p-datatable-tbody > tr:focus {
  background: var(--table-row-color-background-selected);
  color: var(--table-row-color-text);
  outline: unset;
}

.astro .p-datatable .p-sortable-column:not(.p-highlight):hover {
  background: var(--table-header-color-background);
  color: var(--color-text-interactive-hover);
}

.astro .p-datatable .p-sortable-column.p-highlight:hover {
  background: var(--table-header-color-background);
  color: var(--color-text-interactive-hover);
}

.astro .p-datatable .p-sortable-column:focus {
  box-shadow: unset;
}
